[submodule "SensoryBridge"]
	path = SensoryBridge
	url = https://github.com/connornishijima/SensoryBridge.git
[submodule "FastLED"]
	path = FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "arduino-esp32"]
	path = arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
